/* BASIC RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE STYLES */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: #000000;
}

/* header pragya */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: #333;
  color: white;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  background-color: crimson;
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding: 5px 10px;
}

.nav-main {
  display: flex;
  gap: 30px;
}

.nav-main a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.live-btn {
  background-color: crimson;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
}

.live-btn:hover{
  transform: scale(1.25);
  transition: 0.2s ease;
}

.icon-search,
.icon-profile {
  font-size: 20px;
}

/* video content */

.mainSection {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 24px;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.breadcrumbs p {
  font-size: 20pt;
  color: #000000;
}

.videoSection video {
  width: 100%;
  display: block;
  margin-bottom: 15px;
}

.relatedStories img {
  width: 120px;
  height: auto;
  padding: 5px;
}

.relatedStories h2 {
  font-size: medium;
  padding: 5px;
}

.relatedStories .article {
  width: 100%;
  text-align: center;
  margin: 0 auto 20px;
}

/* Category Section */
.category-grid {
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
}

.category-column h4 {
  font-weight: bold;
  margin-bottom: 6px;
}

.category-column a {
  display: block;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 4px;
}

/* footer pragya */
.footer {
  background-color: black;
  padding: 40px;
  margin-top: 50px;
  color: white;
}

.footer-links-grid {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-bottom: 40px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-column h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-column a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-bottom {
  text-align: center;
  font-size: 12px;
}

/* mobile */
@media (max-width: 600px) {
  .nav-main {
    display: none;
  }

  .mainSection {
    grid-template-columns: 1fr;
  }

  .category-grid,
  .footer-links-grid {
    flex-direction: column;
    gap: 24px;
  }
}
