/* CSS Variables for color palette */
:root {
  /* Box shadow variables for light mode */
  --shadow-main-art-container: 0 2px 12px rgba(0, 0, 0, 0.13);
  --shadow-main-article:
    0 6px 32px 0 rgba(0, 0, 0, 0.13), 0 1.5px 4px 0 rgba(0, 0, 0, 0.07);
  --shadow-main-article-hover:
    0 12px 40px 0 rgba(0, 0, 0, 0.18), 0 3px 8px 0 rgba(0, 0, 0, 0.1);
  --shadow-trending:
    0 4px 18px 0 rgba(0, 0, 0, 0.11), 0 1.5px 4px 0 rgba(0, 0, 0, 0.07);
  --shadow-trending-hover:
    0 10px 32px 0 rgba(0, 0, 0, 0.16), 0 3px 8px 0 rgba(0, 0, 0, 0.1);
  --shadow-live-tab:
    0 4px 18px 0 rgba(0, 0, 0, 0.11), 0 1.5px 4px 0 rgba(0, 0, 0, 0.07);
  --shadow-live-tab-hover:
    0 10px 32px 0 rgba(0, 0, 0, 0.16), 0 3px 8px 0 rgba(0, 0, 0, 0.1);
  --shadow-article:
    0 4px 18px 0 rgba(0, 0, 0, 0.13), 0 1.5px 4px 0 rgba(0, 0, 0, 0.07);
  --shadow-article-hover:
    0 12px 40px 0 rgba(0, 0, 0, 0.18), 0 3px 8px 0 rgba(0, 0, 0, 0.1);
  --shadow-overlay: 0 4px 12px rgba(0, 0, 0, 0.3);
  --shadow-header:0 4px 12px rgba(0, 0, 0, 0.3);

  color-scheme: light;
  --color-bg-gradient-start: light-dark(#f5f6fa, #252525);
  --color-bg-gradient-end: light-dark(#e9e9e9, #666);
  --color-white: light-dark(#ffffff, #bbb);
  --color-black: light-dark(#000000, #e4e4e4);
  --text-color1: light-dark(#e4e4e4, #000000);
  --text-color2: light-dark(#000000, #000000);
  --color-hover: light-dark(#ececf6, #e4e4e4);
  --color-blue: light-dark(#0000ff, #ccccff);
  --color-crimson: light-dark(crimson, #ff6347);
  --color-crimson-dark: light-dark(#860000, #ff5a30);
  --color-gray-border: light-dark(#e0e0e0, #555);
  --color-gray-bg: light-dark(#f7f7fa, #bbb);
  --color-gray-hover: light-dark(#ececf6, #555);
  --color-green: light-dark(rgb(15, 116, 0), rgb(15, 116, 0));
  --color-red: light-dark(red, red);
  --color-loader: light-dark(#ddd, #555);
  --color-loader-top: light-dark(crimson, #ff6347);
  --color-footer-link: light-dark(#e4e4e4, #000000);
  --color-footer-hover: light-dark(#888888, #333);
  --color-footer-line: light-dark(#e4e4e4, #000000);
  --svg-filter-invert:invert(0);
}

body.dark-mode {
  /* Box shadow variables for dark mode */
  --shadow-main-art-container: 0 2px 12px rgba(0, 0, 0, 0.55);
  --shadow-main-article:
    0 6px 32px 0 rgba(0, 0, 0, 0.55), 0 1.5px 4px 0 rgba(0, 0, 0, 0.37);
  --shadow-main-article-hover:
    0 12px 40px 0 rgba(0, 0, 0, 0.7), 0 3px 8px 0 rgba(0, 0, 0, 0.5);
  --shadow-trending:
    0 4px 18px 0 rgba(0, 0, 0, 0.55), 0 1.5px 4px 0 rgba(0, 0, 0, 0.37);
  --shadow-trending-hover:
    0 10px 32px 0 rgba(0, 0, 0, 0.7), 0 3px 8px 0 rgba(0, 0, 0, 0.5);
  --shadow-live-tab:
    0 4px 18px 0 rgba(0, 0, 0, 0.55), 0 1.5px 4px 0 rgba(0, 0, 0, 0.37);
  --shadow-live-tab-hover:
    0 10px 32px 0 rgba(0, 0, 0, 0.7), 0 3px 8px 0 rgba(0, 0, 0, 0.5);
  --shadow-article:
    0 4px 18px 0 rgba(0, 0, 0, 0.55), 0 1.5px 4px 0 rgba(0, 0, 0, 0.37);
  --shadow-article-hover:
    0 12px 40px 0 rgba(0, 0, 0, 0.7), 0 3px 8px 0 rgba(0, 0, 0, 0.5);
  --shadow-overlay: 0 4px 12px rgba(0, 0, 0, 0.7);
  --shadow-header:0 2px 4px rgba(255, 255, 255, 0.3);
    --svg-filter-invert:invert(1);

}

.search-icon ,.user-icon {
filter: var(--svg-filter-invert);
}

/* BASIC RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DARK MODE VARIABLES*/
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --card-bg: #f4f4f4;
  --border-color: #dddddd;
}

body.dark-mode {
  --bg-color: #121212; /* Deep gray/black */
  --text-color: #e0e0e0; /* Soft white for readability */
  --card-bg: #1e1e1e;
  --border-color: #333333;
}

/* BASE STYLES & VARIABLE APPLICATION */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  
  /* Applying the variables here! */
  background-color: var(--bg-color);
  color: var(--text-color);
  
  /* Smooth transition when toggling */
  transition: background-color 0.3s ease, color 0.3s ease; 
}

/* css for login / sign up*/

main {
  background-color: var(--bg-color); 
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.card {
    background-color: var(--card-bg); /* Changed to variable */
    padding: 120px 100px;
    border-radius: 8px;
    text-align: center;
    max-width: 1050px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
} 

.card h2 {
    font-size: 30px;
    margin-bottom: 12px;
    color: var(--text-color); /* Changed to variable */
}

.card p {
    font-size: 18px;    
    margin-bottom: 40px;
    color: var(--text-color); /* Changed to variable */
    text-align: center;
}

.input-group {
    background-color: #f7f7f7;
    border: 1px solid #eaeaea;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: left;
}

.input-content {
    margin-right: 15px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-content label {
  font-size: 12px;
  font-weight: bold;
  color: #888888;
  text-transform: capitalize;
  margin-bottom: 2px;
}

.input-content input {
  background: transparent;
  border: none;
  font-size: 16px;
  color: var(--text-color); /* Changed to variable */
  outline: none;
  padding: 4px 0;
  width: 100%;
}

body.dark-mode .input-group {
    background-color: #2a2a2a; /* Dark grey background */
    border-color: var(--border-color); 
}

/* Buttons Container */
.buttons {
  display: flex;
  justify-content: center; /* Center buttons */
  gap: 20px; /* Space between buttons */
  margin-top: 30px;
}

/* Base Button Styles */
.bton {
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid transparent;
  display: inline-block;
  transition: all 0.3s ease;
}

.bton.cancel, .bton.back {
  background-color: #ffffff;
  color: #ef4444;
  border-color: #ef4444;
}

.bton.cancel:hover, .bton.back:hover {
  background-color: #ef4444 ;
  color: #ffffff;
}

.bton.signup-inactive {
  background-color: #d1d5db; /* Light grey for empty form */
  color: #6b7280;
}

.bton.signup-active {
  background-color: #4caf50; 
  color: #ffffff;
}

.bton.signup-active:hover {
    background-color: #388e3c
}

.bton.login, .bton.view-live {
  background-color: #3b82f6;
  color: #ffffff;
}

.bton.login:hover, .bton.view-live:hover {
  background-color: #2563eb;
} 

/* Layout tweak for specific cards */
.buttons.stacked {
  flex-direction: column;
  align-items: center;
  gap: 15px;
}


.error {
  color: red;
  font-size: 12px;
  height: 14px;
}

.bton {
  display: inline-flex;
  align-items: center;
  padding: 10px 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  border: 2px solid transparent;
}

.signup {
  background-color: limegreen;
  color: white;
}

.back {
  background-color: white;
  color: red;
  border-color: red;
}

.login {
  background-color: skyblue;
  color: white;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-color); /* Changed to variable */
}

.card {
  background: var(--card-bg); /* Changed to variable */
  padding: 40px;
  width: 350px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

.card p {
  font-size: 15px;
  margin-bottom: 10px;
}

/* mobile */
@media (max-width: 600px) {
  .nav-main {
    display: none;
  }

  .mainSection {
    grid-template-columns: 1fr;
  }

  .category-grid,
  .footer-links-grid {
    flex-direction: column;
    gap: 24px;
  }
}


/* HEADER */
.bar {
  width: 25px;
  height: 3px;
  background-color: var(--text-color1);
  transition: 0.4s;
}
a small {
  color: var(--color-blue);
}

.hamburger {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.hamburger.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}
.overlay-button {
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}
.overlay-button-off {
  border: var(--color-red);
  background-color: transparent;
  cursor: pointer;
  z-index: 3;
}
#overlay {
  position: relative;
  top: 100%; /* Position below the header */
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.95);
  z-index: 2;
  display: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

#overlay .search-section {
  width: 100%;
  max-width: none;
  background: rgba(0, 0, 0, 0.95);
  padding: 10px;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search {
  margin: 0 auto;
  /* position: relative; */
  width: 60%;
  padding: 12px 16px;
  font-size: 16px;
  /* border: 2px solid #333; */
  border-radius: 8px;
  background: var(--color-white);
  color: #333;
  outline: none;
}

#search:focus {
  border-color: crimson;
}

#results {
  margin-top: 16px;
  max-height: 300px;
  overflow-y: auto;
  width: 40%;
}

#results a {
  display: block;
  padding: 12px 16px;
  border-bottom: 1px solid #333;
  color: var(--color-green);
  text-decoration: none;
  transition: background-color 0.2s ease;
}

#results a:hover {
  background-color: #ff2a2a;
}
.loader {
  width: 60px;
  height: 60px;
  margin: 20px auto;
  border: 8px solid var(--color-loader);
  border-top: 8px solid var(--color-loader-top);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
/* HIDE ELEMENT */
.hidden {
  display: none;
}

/* SPIN ANIMATION */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* #loader {
  margin-top: 16px;
  text-align: center;
  color: white;
  width: 60%;
  max-width: 560px;
} */

#overlay .search-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 12px;
  margin-bottom: 18px; */
}

.close-button {
  border: transparent;
  background: transparent;
  cursor: pointer;
}

.close-button .hamburger {
  margin: 0;
}

/* .trending a:visited {
  color: #000000;
} */
/* HEADER */
/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: var(--color-black);
  z-index: 3;
  position: relative;
  box-shadow: var(--shadow-header) ;
}
.header a {
  color: var(--text-color2);
  text-decoration: none;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 20px; /*space between menu icon and logo*/
  text-decoration: none;
}

.logo {
  background-color: var(--color-crimson);
  color: var(--color-white);
  font-weight: bold;
  font-size: 24px;
  padding: 5px 10px;
  text-decoration: none;
}

.logo-link {
  text-decoration: none;
  display: flex;
}

.logo-image {
  height: 30px;
  width: auto;
  display: block;
}

.logo:hover {
  background-color: var(--color-crimson-dark);
  transition: background-color 0.2s ease;
}

.nav-main {
  display: flex;
  gap: 30px;
}

.nav-main a {
  color: var(--text-color1);
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
}

.nav-main a:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.liv-btn {
  background-color: crimson;
  color: white;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.liv-btn:hover {
  transform: scale(1.25);
  transition: 0.2s ease;
  text-decoration: none;
  background-color: #860000;
} 

.icon {
  font-size: 30px;
}

.ui-icon {
  height: 28px;
  width: auto;
  display: block;
  cursor: pointer;
}

.ui-icon:hover {
  opacity: 0.7;
  transition: opacity 0.2s ease;
} 

/*Footer formatting */
.footer {
  background-color: var(--color-black);
  padding: 40px;
  /* margin-top: 10px; */
}

.footer-links-grid {
  display: flex;
  justify-content: center; /*centers the grid of columns*/
  gap: 80px;
  margin-bottom: 40px;
}

.footer-column {
  display: flex;
  flex-direction: column; /*stacks the links vertically*/
  align-items: center; /*centers text inside column*/
}

.footer-column h4 {
  font-size: 18px;
  margin-bottom: 20px;
  color: var(--text-color1);
}
.footer p{
color: var(--text-color1);
}

.footer-column h4:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.footer-column a {
  text-decoration: none;
  color: var(--text-color1);
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-column a:hover {
  color: var(--color-footer-hover);
  transition: 0.2s ease;
}

.footer-bottom {
  text-align: center;
  font-size: 12px;
  color: var(--color-white);
}

.footer-line {
  border: none;
  border-top: 2px solid var(--color-footer-line);
  margin: 20px 0;
}

.footer-actions {
  display: flex;
  align-items: center;
  gap: 20px; /* Spacing between the text links and buttons */
}

.footer-actions a {
  color: var(--text-color1);
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.footer-actions a:hover {
  color: var(--color-footer-hover);
  transition: 0.2s ease;
}

.footer-links {
  display: flex;
  flex-wrap: wrap; /* Allows links to flow to a new line on small screens */
  gap: 15px 25px;
  margin-bottom: 25px;
}

.footer-links a {
  color: var(--color-footer-link);
  text-decoration: none;
  font-size: 13px;
}

.footer-copyright {
  font-size: 12px;
  color: var(--color-footer-link);
  line-height: 1.6;
}

.footer-copyright p {
  margin: 5px 0;
  color: var(--color-footer-link);
}
/* Search Formatting */

.hamburger {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.hamburger.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}
.overlay-button {
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}
.overlay-button-off {
  border: red;
  background-color: transparent;
  cursor: pointer;
  z-index: 3;
}
#overlay {
  position: relative;
  top: 100%; /* Position below the header */
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.95);
  z-index: 2;
  display: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

#overlay .search-section {
  width: 100%;
  max-width: none;
  background: rgba(0, 0, 0, 0.95);
  padding: 10px;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search {
margin: 0 auto ;
    /* position: relative; */
  width: 60%;
  padding: 12px 16px;
  font-size: 16px;
  /* border: 2px solid #333; */
  border-radius: 8px;
  background: white;
  color: #333;
  outline: none;
}

#search:focus {
  border-color: crimson;
}

#results {
  margin-top: 16px;
  max-height: 300px;
  overflow-y: auto;
  width: 40%;
}

#results a {
  display: block;
  padding: 12px 16px;
  border-bottom: 1px solid #333;
  color: rgb(15, 116, 0);
  text-decoration: none;
  transition: background-color 0.2s ease;
}

#results a:hover {
  background-color: rgba(220, 20, 60, 0.2);
}
.loader {
  width: 60px;
  height: 60px;
  margin: 20px auto;
  border: 8px solid #ddd;
  border-top: 8px solid crimson;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
/* HIDE ELEMENT */
.hidden {
  display: none;
}

/* SPIN ANIMATION */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* #loader {
  margin-top: 16px;
  text-align: center;
  color: white;
  width: 60%;
  max-width: 560px;
} */

#overlay .search-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 12px;
  margin-bottom: 18px; */
}

.close-button {
  border: transparent;
  background: transparent;
  cursor: pointer;
}

.close-button .hamburger {
  margin: 0;
}
